* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0);
  grid: 10px;
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Poppins&family=Raleway:wght@100&family=Roboto+Mono:wght@600&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  height: 10px;
  width: 20px;
  background-color: white;
  border-radius: 10px;
}
a:hover{
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  overflow: hidden;
}
/* navbar */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.8rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -2;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
}
.header::after {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(240, 236, 236, 0.32),
    transparent
  );
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.5s all ease;
}
.header:hover::after {
  left: 100%;
}
.header img {
  object-fit: contain;
  height: 70%;
}
.navbar1 a {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-left: 1.5rem;
}
.navbar1 a:hover {
  color: rgb(202, 194, 194);
  text-decoration: none;
  }
#check {
  display: none;
}
.icons {
  font-size: 2.8rem;
  color: #ffffff;
  cursor: pointer;
  display: none;
  z-index: 1;
}
/* BreakPoints */
@media (max-width: 992px) {
  .header {
    padding: 0.6rem 2%;
  }
  .navbar1 a {
    font-size: 1rem;
  }
}
@media (max-width: 768.5px) {
  .navbar1 a {
    transform: translateY(-40px);
  }
}
@media (max-width: 768px) {
  .header {
    padding: 1rem 7%;
  }
  .icons {
    display: inline-flex;
    position: absolute;
    right: 5%;
  }
  .icons #close-icon {
    display: none;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  #check:checked ~ .navbar1 {
    height: 17.7rem;
  }
  #check:checked ~ .navbar1 a {
    transform: translateY(00px);
    transition-delay: calc(0.15s * var(--i));
    opacity: 1;
  }
  .navbar1 {
    overflow: hidden;
    height: 0%;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.173);
    backdrop-filter: blur(50px);
    transition: 0.2s ease all;
  }
  .navbar1 a {
    display: block;
    margin: 0.8em 0;
    text-align: center;
    width: 100%;
    transition: 0.3s ease;
    opacity: 0;
    font-size: 1.3rem;
  }
}
@media (max-width: 367px) {
  .header img {
    width: 50vw;
  }
  .navbar1 a {
    font-size: 0.8rem;
  }
  #menu-icon {
    font-size: 5vh;
  }
  #close-icon {
    font-size: 5vh;
  }
}
/* section */
.section {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.section h1 {
  font-size: 5vw;
  text-transform: uppercase;
  border-bottom: 4px double white;
  text-align: center;
  width: 100%;
  border-top: 4px double white;
  padding: 3vh 2vw;
}
.section p {
  font-size: 3vw;
  padding: 4vh 0;
}
.arrow-down {
  font-size: 3.4vw;
}
@media (max-width: 768px) {
  .section p {
    font-size: 5vw;
    padding: 4vh 0;
  }
  .section .arrow-down {
    font-size: 4.4vw;
  }
  .section h1 {
    font-size: 9vw;
  }
}
@media (max-width: 352px) {
  .section p {
    font-size: 9vw;
    padding: 4vh 0;
  }
  .arrow-down {
    font-size: 7.4vw;
  }
  .section h1 {
    font-size: 13vw;
  }
}
.page {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: relative;
}
.page1 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  padding: 2vh 2vw;
  display: flex;
}
a {
  text-decoration: none;
}
.pageHeader {
  height: 100vh;
  overflow: auto;
}
.pageHeader::-webkit-scrollbar {
  display: none;
}
nav h1 {
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
nav ul {
  list-style: none;
}
nav ul li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: rgb(255, 255, 255);
}
nav ul li:hover {
  background: #ccc;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
main {
  padding: 50px;
  max-width: 1200px;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: white;
}
main::-webkit-scrollbar {
  display: none;
}
section {
  margin-bottom: 50px;
}
section article {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section h2 {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 400;
  border-top: 1px solid #ccc;
  margin-bottom: 15px;
}
section p {
  font-size: 1.3vw;
}
@media (max-width: 480px) {
  .page1 {
    flex-direction: column;
  }
  .pageHeader {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
  }
  section p {
    font-size: 2.3vw;
  }
}
  /* ...........footer................... */
  .footer {
    height: fit-content;
    width: 100vw;
  }
  .footer-map {
    height: 40vh;
  }
  
  p {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 28px;
  }
  .animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff;
  }
  
  .animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
  }
  
  @-webkit-keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(113px);
      transform: translateX(113px);
    }
  }
  
  @keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(113px);
      transform: translateX(113px);
    }
  }
  
  .animate-border.border-white:after {
    border-color: #fff;
  }
  
  .animate-border.border-yellow:after {
    border-color: #f5b02e;
  }
  
  .animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
  }
  
  .animate-border.border-ash:after {
    border-right-color: #eef0ef;
    border-left-color: #eef0ef;
  }
  
  .animate-border.border-offwhite:after {
    border-right-color: #f7f9f8;
    border-left-color: #f7f9f8;
  }
  
  /* Animated heading border */
  @keyframes primary-short {
    0% {
      width: 15%;
    }
    50% {
      width: 90%;
    }
    100% {
      width: 10%;
    }
  }
  
  @keyframes primary-long {
    0% {
      width: 80%;
    }
    50% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  
  .dk-footer {
    padding: 75px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
  }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
  }
  .dk-footer .contact-us .contact-info {
    margin-left: 50px;
  }
  .dk-footer .contact-us.contact-us-last {
    margin-left: -80px;
  }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #007bff;
  }
  
  .dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    z-index: 2;
  }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
  }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block;
  }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
  }
  .dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3b5998;
  }
  .dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55acee;
  }
  .dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #dd4b39;
  }
  .dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976b4;
  }
  .dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #b7242a;
  }
  
  .footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
  }
  
  .footer-info-text {
    margin: 26px 0 32px;
    color: white !important;
  }
  
  .footer-left-widget {
    padding-left: 80px;
  }
  
  .footer-widget .section-heading {
    margin-bottom: 35px;
  }
  
  .footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  
  .footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-widget li {
    margin-bottom: 18px;
  }
  
  .footer-widget p {
    margin-bottom: 27px;
  }
  
  .footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .footer-widget a:hover {
    color: #007bff;
  }
  
  .footer-widget:after {
    content: "";
    display: block;
    clear: both;
  }
  .dk-footer-form button:hover {
    cursor: pointer;
  }
  
  /* ==========================
  
    Contact
  
  =============================*/
  .contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .contact-icon {
    position: absolute;
  }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff;
  }
  
  .contact-info {
    margin-left: 75px;
    color: #fff;
  }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
  }
  
  .copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
  }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .copyright a:hover {
    color: #007bff;
  }
  
  .copyright-menu ul {
    text-align: right;
    margin: 0;
  }
  
  .copyright-menu li {
    display: inline-block;
    padding-left: 20px;
  }
  
  .back-to-top {
    position: relative;
    z-index: 2;
  }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #fa6742;
    border-color: #fa6742;
  }
  
  #ticker {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
  }
  .form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
      linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  @media (max-width:500px) {
    .form-container{
      width: 100%;
    }
  
  }
  @media (max-width:250px) {
    .btn-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      }
      .form-submit-btn.d-inline{
        width: 100%;
      }
  }